name: release package on copr

on:
  push:
    branches:
      - release

jobs:
  release-package-on-copr:
    runs-on: ubuntu-latest
    container: oraclelinux:9
    steps:
    - name: Install git
      run: dnf install -y git
    - name: Check out repository code
      uses: actions/checkout@v4
    - name: Install dependencies
      uses: ./.github/actions/install-dependencies
    - name: Install copr-cli
      run: |
        dnf install -y dnf-plugins-core
        dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
        dnf -y copr enable @CESNET/NEMEA
        dnf install -y copr-cli
    - name: Mark github workspace as safe
      run: git config --system --add safe.directory $PWD
    - name: make rpm
      run: |
        cmake -B build -DTELEMETRY_PACKAGE_BUILDER=ON
        make rpm
    - name: Create copr config
      run: |
        mkdir ~/.config
        echo "${{ secrets.COPR_CONFIG }}" >> ~/.config/copr
    - name: Upload SRPM to copr
      run: |
        copr build @CESNET/NEMEA build/pkg/rpm/rpmbuild/SRPMS/*
        copr build @CESNET/NEMEA-stable build/pkg/rpm/rpmbuild/SRPMS/*
